.container{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container__h2{
    
    padding-left: 1rem;
    margin-bottom: 1rem;
    text-align: left;
    color: pink;
    font-size: 18pt;
    font-family: 'Raleway', sans-serif;
}

.container__card{
    width: 1250px;
    text-align: left;
}

.container__card__img{
    display: flex;
    flex-direction: row;
    text-align: left;
    height: 290px;
    border-radius: 30px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    background: linear-gradient(to bottom right, rgb(255, 255, 255), #a7c4b3);
    box-shadow: 2px 2px 5px rgb(223, 223, 223);
    margin: 1rem 1rem;
}

.container__card__img__imgpark{
    width: 400px;
    height: 250px;
    background-size: contain;
    padding-top: 2rem;
    padding-bottom: 1rem;
    margin-right: 2rem;
}

.container__card__img__imgpark__items{
   padding-top: 2rem; 
   text-align: justify;
}

.container__card__img__imgpark__items__h3{
    color:#5fbc85;
    font-size: 12pt;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 5px;
}

.container__card__img__imgpark__items__p{
    font-size: 9pt;
    color: rgb(70, 117, 119);
    margin-bottom: 5px;
}