@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');

.adopt__container{
    display: flex;
    flex-direction: column;
    padding-left: 3rem;
    padding-right: 3rem;
    text-align: center;
}

.adopt__container__h1{
    margin-bottom: 1rem;
    color: pink;
    font-size: 30pt;
    font-family: 'Raleway', sans-serif;
}

.adopt__container__p{
    margin-bottom: 1rem;
    font-size: 11pt;
}
