.navbar{
    display: flex;
    justify-content: space-between;
    height: 6rem;
    background-color: #5fbc85;
    color: whitesmoke;
    font-size: 0.8rem;
    margin-bottom: 50px;

}

.navbar__left{
    padding-left: 30px;
    padding-top: 7px;
    margin-right: 100px;
}

.navbar__left_logo{
    width: 80px;
}

.navbar__right{
    padding-right: 40px;
    padding-top: 40px;
}

.navbar__right__item{
    text-decoration: none;
    color: whitesmoke;
    padding-right: 10px;

    
    background-image: linear-gradient(#5fbc85, #3a7e56);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 15px;
    
    transition: background-size .3s;
}

.navbar__right__item:hover{
    
    background-size: 100% 2px;

}
