@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');

.container__information{
    display: flex;
    flex-direction: column;
    padding-left: 3rem;
    padding-right: 3rem;
    text-align: center;
}

.container__information__h1{
    margin-bottom: 1rem;
    color: pink;
    font-size: 30pt;
    font-family: 'Raleway', sans-serif;
}

.container__information__p{
    margin-bottom: 1rem;
    font-size: 11pt;
}