@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');


.home__container{
    display: flex;
    flex-direction: column;
    padding-left: 3rem;
    padding-right: 3rem;
    text-align: center;
}

.home__container__h1{
    margin-bottom: 1rem;
    color: pink;
    font-size: 30pt;
    font-family: 'Raleway', sans-serif;
}

.home__container__p__image{
    
    
    padding-top: 3rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-image: url("https://www.sostenibilidad.com/media/754261/dia-internacional-de-los-bosques.jpg");
    background-size: cover;
    height: 130px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: whitesmoke;
    font-family: 'Raleway', sans-serif;

}

.home__container__p__image__text{
    
}

.home__container__p{
    margin-bottom: 1rem;
    font-size: 11pt;
}

.home__container__h3{
    margin-bottom: 1rem;
    margin-top: 1rem;
    color: pink;
    font-size: 20pt;
    font-family: 'Raleway', sans-serif;
}

.home__container_img{
    height: 150px;
    padding-left: 5rem;
    padding-right: 5rem;
}

.home__container__image{
    height: 150px;
    background-size: cover;
}