.container{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container__h2{
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-align: left;
    color: pink;
    font-size: 18pt;
    font-family: 'Raleway', sans-serif;
}

.container__p{
    text-align: left;
    padding-left: 1rem;
    margin-bottom: 2rem;
}

.container__opinion{
    width: 700px;
    text-align: justify;
    margin-bottom: 2rem;
    border-color: silver;
    border-width: 2px;
    border-style: solid;
    border-radius: 25px;
}

.container__opinion__items{
    padding: 0.9rem;
}

.container__opinion__items__h3{
    margin-bottom: 8px;
    background-color: #5fbc85;
    font-family: 'Raleway', sans-serif;
    color: whitesmoke;
    padding-left: 15px;
}

.container__opinion__items__p{
    font-size: 10pt;
    margin-bottom: 10px;
}