.card{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}

.card__container{  
    
    width: 450px;
    text-align: left;
    margin: 1rem 1rem;
    
    
}

.card__container__img{ 
    margin: 0;
    height: 655px;
    border-radius: 30px;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 1rem;
    background: linear-gradient(to bottom right, pink, palevioletred);
    box-shadow: 2px 2px 5px rgb(223, 223, 223);
}

.card__container__img__imgpark{
    width: 386px;
    height: 280px;
    background-size: contain;
    padding-top: 2rem;
    padding-bottom: 1rem;
}


.card__container__img__imgpark__items{
    padding-bottom: 2rem;
}

.card__container__img__imgpark__items__h3{
    color:#5fbc85;
    font-size: 12pt;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 5px;
}

.card__container__img__imgpark__items__p{
    font-size: 9.5pt;
    color: whitesmoke;
    margin-bottom: 5px;
    text-align: justify;
}