@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');

*{
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  font-family: 'Hachi Maru Pop', cursive;
  color: rgb(70, 117, 119);
}

.App__header{
  justify-content: space-between;
  
  
}




