.footer__first_container{
    display: flex;
    justify-content: space-between;
    background-color: #41815c;
    margin-top: 50px;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
    color: whitesmoke;

}

.footer__first_container__left_ul1{

    width: 50%;
    margin: 0;
    margin-right: 3rem;
}

.footer__first_container__right_ul2{

    margin: 0;
    width: 50%;
}